header {
  display: flex;
  padding-top: 24px;

  animation: fadeIn 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;

  .site-logo {
    flex: none;
    height: 112px;
  }

  nav {
    flex: 1 1 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 4px;
    text-align: right;

    ul {
      list-style: none;

      li {
        display: inline;

        a {
          display: inline-block;
          color: #333;
          text-transform: uppercase;
          padding: 8px 16px;
          position: relative;
          outline: 0;

          &::after {
            $width: 70%;

            content: "";
            width: $width;
            height: 3px;
            display: inline-block;
            opacity: 0;
            border-radius: 2px;
            position: absolute;
            left: calc(50% - #{$width}/ 2);
            bottom: 0px;
            transition: opacity 150ms ease-out, transform 150ms ease-out;
            transform: translateY(-4px);
          }

          &.active,
          &:hover,
          &:focus {
            &::after {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &.home-link.active::after,
          &.home-link:hover::after,
          &.home-link:focus::after {
            background: #f9d29f;
          }

          &.about-link.active::after,
          &.about-link:hover::after,
          &.about-link:focus::after {
            background: #c6e4b8;
          }

          &.resume-link.active::after,
          &.resume-link:focus::after,
          &.resume-link:hover::after {
            background: #f7e594;
          }

          &.contact-link.active::after,
          &.contact-link:focus::after,
          &.contact-link:hover::after {
            background: #ecbdb4;
          }
        }

        &:not(:first-child) {
          margin-left: 16px;
        }
      }
    }
  }
}
