@import "./node_modules/bulma/sass/utilities/_all.sass";

.mtn-product-image {
  margin: 16px 0 40px;
  border-radius: 4px;
}

.pink-section {
  background-color: #f2d7d4;
  padding: 32px 0;
  margin: 64px 0;
}

.flex {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;

  div {
    flex: 0 0 calc(50% - 50px);
  }
}

.text-center {
  text-align: center;
}

.image-explain {
  display: flex;
  margin-bottom: 128px;

  @media screen and (max-width: $desktop) {
    flex-direction: column;
  }

  .image-explain__image {
    margin: auto;

    @media screen and (max-width: $desktop) {
      order: -1;
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: $desktop) {
    & > *:first-child {
      padding-right: 156px;
    }
  }
}

.description-box {
  height: 300px;
}

.users-image {
  margin-bottom: 16px;
  display: inline-block;
}

.text-section {
  max-width: 900px;
  margin: auto;
  margin-bottom: 128px;
}
