#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .content {
    flex: 1;
  }
}

.container {
  width: 100%;
  max-width: 1720px;
  margin: auto;
  padding-left: calc(100vw - 100%); // Scrollbar page jank prevention
}

section.row {
  display: flex;
  max-width: 90%;
  margin: auto;

  img {
    max-width: 100%;
  }

  .flex-none {
    flex: none;
  }

  .flex-grow {
    flex: 1;
  }

  &.hello-section {
    margin-top: 300px;

    .flex-grow {
      margin-left: 80px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpFadeInFullHeight {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  25% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
