@charset "utf-8";

$family-sans-serif: "Karla", sans-serif;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

// #root {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   .content {
//     display: flex;
//     flex-direction: column;
//     flex: 1;
//   }
// }
// .container {
//   width: 100%;
//   max-width: 1720px;
//   margin: 0 auto;
//   padding-left: calc(100vw - 100%); // Scrollbar page jank prevention
// }
section.row {
  display: flex;
  max-width: 90%;
  margin: auto;

  img {
    max-width: 100%;
  }

  .flex-none {
    flex: none;
  }

  .flex-grow {
    flex: 1;
  }

  &.hello-section {
    margin-top: 300px;

    .flex-grow {
      margin-left: 80px;
    }
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 28px;
  margin-bottom: 32px;
}

.react-photo-gallery--gallery {
  padding: 64px 0 128px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpFadeInFullHeight {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  25% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
