@import url('https://fonts.googleapis.com/css?family=Karla|Roboto:300,500&display=swap');

body {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #2962FF;
}

p {
  font-size: 24px;
  line-height: 1.6;
}